<h1><%= t('books.index.edit') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('common.actions.show'), @book %> |
  <%= link_to t('common.actions.back'), books_path %>
</nav>
